.overlayModal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 8px; 
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  color: white; 
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); 
  max-width: 80vw; 
  max-height: 80vh; 
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 80vh; 
  border-radius: 8px;
  object-fit: contain; 
}


button {
   background-color: #ff4d4d;
  color: white; 
  border: none;
  padding: 8px 12px;
  border-radius: 4px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}


button:hover {
  background-color: #ff0000;
}